.container {
  max-width: 1280px;
  padding-left: 104px;
  padding-right: 104px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  color: var(--cinza-2);
  border: 2px solid var(--cinza-2);
  background-color: transparent;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
}
.botao:hover {
  color: var(--azul-5) !important;
  background-color: var(--cinza-2);
  border: 2px solid var(--cinza-2);
  transition: color 0.5s, background-color 0.5s;
}
@media (max-width: 750px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 281px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
